$mobile: 768px;

$color-primary: #08A6E4;
$color-dark: #000000;
$color-light: #FFFFFF;
$accent-grey: #A5A5A5;
$color-primary-shadow: rgba(7, 172, 230, .16);
$accent-green: #55DFB4;
$accent-red: #fb3b64;
$accent-light-grey: #F7F7F7;